*{
  box-sizing: border-box;
}

.app{
  width: 100 vw;
  height: 100vh;
  background-color: white;
  padding: 8px;
  color: black;
}

.app{
  --bg-color: white;
  --secondary-bg-color: white;
  --color: black;
  --secondary-color: #202020;
}

.app.dark{
  --bg-color: #303030;
  --secondary-bg-color: #202020;
  --color: white;
  --secondary-color: white;
}

.app{
  background-color: var(--bg-color);
  color: var(--color);
}

input, select{
  background-color: var(--secondary-bg-color);
  color: var(--secondary-color);
  padding: 8px;
  border-radius: 4px;
  border: none;
}